@font-face {
  font-family: Queensides;
  src: url(./fonts/queensides-font/QueensidesLight-ZVj3l.ttf);
}

:root {
    --transparent-black: #00000070;
}

body {
    font-family: system-ui, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    background-image: url(./images/background.jpg);
    background-size: cover;
}
#logo-box {
    font-family: Queensides, sans-serif;
    background-color: var(--transparent-black);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0 20px;
    width: 100%;
    position: relative;
    top: 25%;
    color: white;
}
img {
    width: 50px;
    height: 50px;
    filter: invert(100%)
}
#logo-box h1 {
    margin: 0;
    font-size: 3rem;
}
footer {
    background-color: var(--transparent-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0 8px;
    width: 100%;
}
footer p,
footer a  {
    margin: 0;
    color: #d9d9d9;
}
#right {
    background-color: #d9d9d9;

}
#right h3 {
    padding: 50px;
    width: clamp(45ch, 70%, 75ch);
}
.form-content {
    padding: 50px;
    background-color: white;
    box-shadow: 0px 4px 10px #505050;
}
section {
    display: flex;
    gap: 50px;
}
input,
label {
    display: block;
}
label {
    font-size: .6rem;
}
input {
    margin-top: 3px;
    width: 250px;
    height: 20px;
}
button {
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 3px;
    margin: 30px 50px;
    width: 180px;
    height: 35px;;
}
form p {
    margin-left: 50px;
}
form p a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}
input:focus {
    border-color: blue;
}
#password:invalid {
    border-color: red;
}