@font-face {
  font-family: Queensides;
  src: url(./fonts/queensides-font/QueensidesLight-ZVj3l.ttf);
}

:root {
    --transparent-black: #00000070;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    background-image: url(./images/background.jpg);
    background-size: cover;
}
#logo-box {
    font-family: Queensides, sans-serif;
    background-color: var(--transparent-black);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0 20px;
    width: 100%;
    position: relative;
    top: 25%;
    color: white;
}
img {
    width: 50px;
    height: 50px;
    filter: invert(100%)
}
#logo-box h1 {
    margin: 0;
    font-size: 3rem;
}
footer {
    background-color: var(--transparent-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0 8px;
    width: 100%;
}
footer p,
footer a  {
    margin: 0;
    color: #d9d9d9;
}